.field-box {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.field-box:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Apply base styles for the ChoiceBox */
.custom-choicebox {
    -fx-background-color: #dcdcdc;
    -fx-text-fill: #000000; /* Default text color */
    -fx-background-radius: 5;
}

/* Highlighted value styling when focused */
.custom-choicebox.cell:selected {
    -fx-background-color: #BC5A01;
    -fx-text-fill: #FFFFFF;
}

/* Highlighted value styling when hovered */
.custom-choicebox.cell:hover {
    -fx-background-color: #D67B32;
    -fx-text-fill: #FFFFFF;
}

/* Styling for the popup list */
.custom-choicebox.list-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

.custom-choicebox:disabled {
    -fx-opacity: 1.0;
    -fx-text-fill: black;
}

/* Create Button */
.confirm-button {
    -fx-background-color: #BC5A01;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
}

.confirm-button:hover {
    -fx-background-color: #333333;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
}

.confirm-button:pressed {
    -fx-background-color: #333333;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
}

/* Cancel Button */
.cancel-button {
    -fx-background-color: #4C4E4B;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
}